body{
    font-size: 12px;
    color: #333333;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 500px;
    font-family: Tahoma, Arial,sans-serif;
    transition: background-color 0.5s;
}
#buttonRed{
    background-color: red;
}
#buttonBlue{
    background: blue;
}
#buttonGreen{
    background-color: green;
}
#buttonPurple{
    background-color: purple;
}
#buttonYellow{
    background-color: yellow;
}
div{
    display: flex;
}
button {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}